[submodule "references/ndk"]
	path = references/ndk
	url = https://github.com/nostr-dev-kit/ndk.git
[submodule "references/nostr-tools"]
	path = references/nostr-tools
	url = https://github.com/nbd-wtf/nostr-tools.git
[submodule "references/camonanowallet"]
	path = references/camonanowallet
	url = https://github.com/CamoNano/camonanowallet.git
[submodule "references/nanopyrs"]
	path = references/nanopyrs
	url = https://github.com/CamoNano/nanopyrs.git
[submodule "references/nano-docs"]
	path = references/nano-docs
	url = https://github.com/nanocurrency/nano-docs.git
