name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install APT dependencies
        run: |
          sudo apt-get update
          sudo apt-get install build-essential git -y
          sudo apt-get install libudev-dev -y
          sudo apt-get install libusb-1.0-0-dev -y

      - name: Install and Build
        env:
          PYTHON: python3.11
        run: |
          npm ci --legacy-peer-deps
          npm run wallet:build

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@4.0.0
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          branch: github-pages
          folder: dist
